.confirmation-div.container
  .row
    .col-lg-8.col-md-9.col-sm-10.col-xs-12
      .page-guide-div
        %span.page-title Welcome to BookStore.com
        %br
        %span.page-description Hi #{@confirming_user.full_name}
        %br
        %span.page-description We received your application register. Please click on the link to active your account.
      .content-div
        .confirmation-link-div
          = link_to root_url + random_string(20), { controller: "students/confirmations", action: "create", ready_go: :yes, confirmation_token: @confirming_user.confirmation_token }
      .page-guide-div
        %span.page-description Thanks
        %br
        %span.page-description BookStore Team
