$common-font: "Roboto";
$gray-color: #62594f;
$brown-color: #5b4635;
$emerald-color: #00a099;
$jade-color: #008080;
$light-orange-color: #ffc400;
$orange-color: #fdb62b;
$red-orange-color: #f29100;
$silver-color: #BBBBBB;
$light-silver-color: #d3d3d3;
$light-color: #F7F7F7;
$light-gray-color: #7C7C7C;
$maroon-color: #cd0a0a;
$green-color: #3bb13b;
