@import "variables";

#header {
  font-size: 13px;
  background-color: black;
  color: white;

  .container {
    padding-left: 0;
    padding-right: 0;

    .contact-information {
      padding-left: 0;
      line-height: 45px;
      color: $silver-color;
      font-weight: bold;

      div { display: inline; }

      .phone, .email {
        padding-left: 10px;
        font-weight: normal;

        a { color: white !important; }

        i { margin-right: 2px;}
      }
    }

    .account-div {
      padding-right: 0;
      text-align: right;

      a { line-height: 45px; }
      
      .dropdown-menu { z-index: 1001; }

      .registration-link {
        color: white !important;
        font-weight: bold;
      }

      .separator { color: $silver-color; }

      .register-div { padding-right: 0; }

      .login-div {
        padding-right: 0;
        padding-left: 0;
      }

      .separator {
        line-height: 45px;
        padding: 0 2px 0 0;
      }

      .info {
        margin-top: 10px;
        margin-bottom: 10px;

        .user-name-link {
          //background-color: $light-orange-color !important;
          color: black !important;
          font-size: 14px;
          font-weight: bold;
          padding-bottom: 0;

          img {
            width: 40px;
            border-radius: 2px;
          }
        }
      }

      .notification_icon_div {
        padding-left: 0;
        text-align: left;

        .notification-button {
          margin-top:15px;
          background: url("notification.png");
          background-size: contain;
          background-repeat: no-repeat;
          border: none;
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}

.cancel-button-div, .forgot-password-div {
  a {
    font-size: 12pt;
    color: $emerald-color !important;
    text-decoration: underline !important;
  }
}
