@import "variables";

#menu {
  background-color: $gray-color;

  .tools {
    margin-bottom: 0;
    border-bottom: none;

    a{ color: white; }

    .search-bar-div, .filter-div { margin-top: 10px; }

    .search-button-div {
      padding-left: 5px;
      text-align: center;

      .search-button {
        width: 39px;
        height: 39px;
        border: none;
        background: url(search.png);
      }
    }

    select { height: 39px !important; }

    .categories-dropdown {
      button {
        height: 39px;
        border-radius: 0;
        text-align: left;
        background-color: $brown-color;
        color: white;
      }

      ul {
        z-index: 1001;

        a {
          padding-left: 10px;

          .category-name { color: black; }

          .number-of-books { color: $light-orange-color; }
        }
      }
    }

    .search-bar-div {
      input {
        border: none;
        border-radius: 0;
        background-color: white;
      }
    }

    .search-categories-dropdown {
      background-color: white;
      display: inline-flex;

      .separator {
        width: 1px;
        height: 20px;
        border-left: solid 1px $brown-color;
        align-self: center;
      }

      button {
        border-radius: 0;
        text-align: left;
        height: 39px;
        background-color: white;
      }

      ul {
        z-index: 1001;

        li:hover {
          background-color: #EFEFEF;
          cursor: pointer;
        }

        li {
          padding-left: 10px;

          .category-name { color: black; }

          .number-of-books { color: $light-orange-color; }
        }
      }
    }
  }
}


